<%= form_with(model: @group_reservation) do |f| %>
  <div>
    <%= f.text_field :name %>
    <%= f.label :name %>
  </div>
  <div>
    <%= f.date_field :check_in_date %>
    <%= f.label :check_in_date %>
  </div>
  <div>
    <%= f.date_field :check_out_date %>
    <%= f.label :check_out_date %>
  </div>
<% end %>
